
.Building {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
    margin-bottom: 10px;
    background-color: darkslategray;
}
.BuildingDetails {
    background-color: rgb(22, 36, 36);
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    animation-duration: .5s;
    animation-name: slidein;
    overflow: hidden;
}

.ResourceName {
    display: inline-block;
    width: 85px;
}
.ResourceValue {
    float: right;
}
.ResourceDetails {
    margin-left: 25px;
    padding-right: 12px;
    font-size:15px;
}
.ResourceDetailsBlock {
    margin-bottom: 7px;
}
.ResourceBar {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
    margin-bottom: 10px;
    background-color: darkslategray;
}

.Tab {
    border: solid 2px #cf5230;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    margin-bottom: -2px; 
    background-color: #2f1b1c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.TechTab {
    border: solid 2px #cf5230;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 3px;
    background-color: #2f1b1c;
    margin-right: 3px;
    width: 20%;
    text-align: center;
    margin-bottom: -2px; 
}

.TechTabRow {
    border-bottom: solid 2px #cf5230;
    background-color: #261112;
    margin-bottom: 10px;
}

.activeTab {
    border-bottom: solid 2px #3f2b2c;
    background-color: #3f2b2c;
}

.TechCell {
    text-align: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px 8px 0px 8px;
    border-radius: 5px;
    width: 125px;
    background-color: darkslategray;
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
}
/* .TechCell:hover {
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
} */
.TechName {
    justify-content: center;    
}
.TechPrint {
    font-size:14px
}
.TechTitle {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
}
.TechDetails {
    background-color: rgb(22, 36, 36);
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
    border-radius: 5px;
    min-width: 112px;
    padding: 5px;
    animation-duration: .5s;
    animation-name: slidein;
    overflow: hidden;
}

.TreeRow {
    justify-content: center;
}
.center {
    justify-content: center;
}
.LineDiv {
    width: 100%;
    height: 20px;
}
.Clickable {
    cursor: pointer;
}
.CenterChildren {
    justify-content: center;
}

.JobAction {
    float: right;
    margin-left: 5px;
    margin-right: 5px; 
}

.BuildingAmount {
    float: right;
}

.Seperator {
    font-display: bold;
    color: white;
    padding-left: 5px;
    margin-left: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.App {
    padding-top: 15px;
}

.JobDiv {
    Width: 200px;
    margin-bottom: 7px;
}

.JobButton {
    Width: 200px;
    box-shadow: 4px 3px 3px rgb(19, 19, 24);
    border-radius: 5px;
}

.LightNavy {
    background-color: #3f2b2c;
}
.DarkNavy {
    background-color: #261112;
}

.LogWindow {
    position: absolute;
    top: 79%;
    left: 0;
    width: 100%;
    height: 20%;
    overflow: auto;
    padding: 10px;
    border: solid 2px white;
    font-size: 14px;
    color: white;
    background-color: black
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

hr {
    margin: 8px 0px 0px 0px;
}
  
@keyframes slidein {
from {
    max-height: 0px;
}

to {
   max-height: 200px;
}
}